@page "/table"

<PageTitle>Products</PageTitle>

@using BlazorServerSignalRApp.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ProductService productService;

<h1>Список продуктів</h1>

@if (products == null)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <div class="grid" tabindex="-1">
        <QuickGrid Items="@products">
            <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
            <TemplateColumn>
                <img src="/images/pos.png" width="90px">
            </TemplateColumn>
            <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Price)" Sortable="true" />
            <TemplateColumn>
                <button @onclick="@(() => Add(context))">Add</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
}

<p><strong>@message</strong></p>

@code {
    private string message = string.Empty;
    private IQueryable<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProducts();
    }

    private void Add(Product product)
    {
        message = product.ToString();
    }
}
