@page "/table"

<PageTitle>Products</PageTitle>

@using BlazorServerSignalRApp.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ProductService productService;

<h1>Список продуктів</h1>

@if (products == null)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <div class="grid" tabindex="-1">
        <QuickGrid Items="@products">
            <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
            <TemplateColumn>
                <div class="inline">
                    <img src="images/pos.png" alt="Burger" class="img" id="img@(context.Id)" width="90px">
                    @if(context.Count > 0)
                    {
                        <span class="badge back-orange" id="badge@(context.Id)">@(context.Count)</span>
                    }
                    else
                    {
                        <span class="badge back-orange hidden" id="badge@(context.Id)">@(context.Count)</span>
                    }
                </div>	
            </TemplateColumn>
            <TemplateColumn Sortable="true" Title="Name">
                <strong>@(context.Name)</strong>
            </TemplateColumn>
            <PropertyColumn Property="@(p => p.Price)" Sortable="true" />
            <TemplateColumn Title="Actions">
                <button class="btn btn-primary btn-sm" @onclick="@(() => Add(context))"><span class="oi oi-plus" aria-hidden="true"></span></button>
                <button class="btn btn-danger btn-sm" @onclick="@(() => Remove(context))"><span class="oi oi-minus" aria-hidden="true"></span></button>
            </TemplateColumn>
        </QuickGrid>
    </div>
}

<p><strong>@message</strong></p>

@code {
    private string message = string.Empty;
    private IQueryable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProducts();
    }

    private void Add(Product product)
    {
        product.Count++;
    }

    private void Remove(Product product)
    {
        if(product.Count == 0)
        {
            return;
        }

        product.Count--;
    }
}
